<div class="container">
  <div class="row" id="testForm">
    <form method="post" action="/apost">
      <input type="text" name="Firstname">
      <input type="text" name="Lastname">
      <button type="submit" class="btn btn-warning">Send</button>
    </form>
  </div>
  <div class="row">
    <div id="controls" onload="initialize();">
      <select id="country" style="display:none;">
        <option value="gr">Greece</option>
      </select>
    </div>
    <div style="height:90%;">
      <div id="locationField" style="width: 300px;
position: absolute;
z-index: +5;
left: 7%;">
        <input id="autocomplete" placeholder="Enter a city" type="search" />
      </div>
      <div id="googleMap"></div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $.getScript('https://maps.googleapis.com/maps/api/js?key=AIzaSyCxQdBHZq-we5xmTIzqZWfiXhts6IEOk5g&sensor=false', function() {
      $.getScript('https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places', function() {
        $.getScript('/js/myScripts.js', function() {
          // callback function
          initialize();
        });
      });
    });
  });
</script>
